{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block title %}
	<title>Welcome Home</title>
{% endblock %}


{% block home-marquee %}
<div class="col-md-12" id="blog-div">
	<form method="POST">
		{% csrf_token %}

		<div class="form-group">
	        <div class="col-md-10">
	          <h3>Change Password</h3>
	        </div>
	     </div>
	    <div class="row">
		  <div class="col-md-6">
			<div class="form-group form-element">
		        <div class="col-md-10">
		          {{form.password}}
		        </div>
		     </div>
		     <div class="form-group form-element">
		        <div class="col-md-10">
		          {{form.password1}}
		        </div>
		     </div>
		     <div class="form-group form-element">
		        <div class="col-md-10">
		          {{form.password2}}
		        </div>
		     </div>
			 <div class="form-group form-element">
		        <div class="col-md-10">
		          <button class="btn btn-default teal white-text" type="submit">Change</button>
		        </div>
		     </div>
		  </div>
		  <div class="col-md-6">
		  	{% if messages %}
		        <div class="alert alert-{{message.tags}}">
		                <a class="close" data-dismiss="alert">X</a>
		                {% for message in messages %}
		                        {{ message }}
		                {% endfor %}
		        </div>
		    {% endif %}
		  </div>
		</div>
		
	</form>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"></div>
{% endblock %}

{% block js-required %}

{% endblock %}

{% block css-required %}
<style type="text/css">
	.loader{text-align: center;}
	.loader.col-md-12 > img{max-height: 50px;}
	.blog-panel {display: inline-block;margin: 15px 35px;}
	.blog-panel{padding-left: 0px;padding-right: 0px;}
	.form-element{margin: : 10px;}
</style>
{% endblock %}