<style type="text/css">
	.footer{text-transform: uppercase;}
	.uppercase .col-md-2{width: 13.67%;color:#fff;font-weight: bold;}
	.languages .col-md-2{width: 10.67%;color:#fff;font-weight: normal;font-size: 0.8em;}
	.languages {margin-top: 10px;margin-bottom: 20px;}
	.copyright{color: #fff}
	.copyright a{color: #fff}
</style>

<div id="body-footer row">
	<div id="footer-raleway" class="footer hidden-xs hidden-phone col-md-12" style="background-color:#152235; padding:30px;">
		<div class="uppercase links footer-row col-md-8 col-md-offset-2" style="margin-bottom:10px;">
			<a class="col-md-2 product-page" href="#">Product</a>
			<a class="col-md-2 about-page" href="#">Company</a>
			<a class="col-md-2 jobs-page" href="#" target="_blank">Careers</a>
			<a class="col-md-2 support-page" href="#">Support</a>
			<a class="col-md-2 community-page" href="#">Community</a>
			<a class="col-md-2 contact-page" href="#">Contact</a>
			<a class="col-md-2 apps-page" href="#">Apps</a>
		</div>
		<div class="copyright col-md-3 col-md-offset-4">
	        © 2016 School Inc.&nbsp;
	        <a href="#" data-action="click" data-object="footer|terms|||" data-target-url="/terms-of-use/">Terms</a>
	    </div>
	</div>
</div>